* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

html {
  background-image: url('https://i.etsystatic.com/8409140/r/il/9b376f/911123224/il_1140xN.911123224_ln5e.jpg');
  background-blend-mode: lighten;
  background-size: 60px;
}

.app {
  padding: 20px;
  background: rgba(255,255,255,.88);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-cards-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.animal-card {
  width: 20vw;
  background-color: grey;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  &__image {
    height: 200px;
    width: 100%;
    background-position: top;
    background-size: cover;
  }
  &__details {
    padding: 20px 10px;
  }
}

.animal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 80vw;
  }
}

header {
  background: black;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 6vw;
  }
  label {
    margin-right: 10px;
  }
  input {
    width: 50vw;
    padding: 3px 10px;
  }
}

footer {
  background: black;
  color: white;
  padding: 40px 20px;
}